body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  color: gold;
  padding: 20px;
}

main {
  color: gold;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: black;
  color: gold;
  padding: 20px;
  text-align: center;
}
  